*~
*#
*.elc
*.dat
.elpa
.cache
workspace
elpa
bookmarks
eshell
swank
tramp
url
server
wget-log
session.*
recentf
projectile-bookmarks.eld
eln-cache
request
.dap-breakpoints
straight
transient
projects