*~
*#
*.elc
*.dat
.elpa
.cache
.org-id-locations
workspace
elpa
bookmarks
eshell
swank
tramp
url
server
wget-log
session.*
recentf
projectile-bookmarks.eld
projectile.cache
eln-cache
request
.dap-breakpoints
straight
transient
projects
